@import '../../../styles/mixin';

.avatar-box {
  position: fixed !important;
  right: 8px;
  display: inline-flex;
}

.item {
  margin-left: 16px;
}

.item,
a {
  vertical-align: middle;
}

.avatar {
  border: 0;
  border-radius: 50%;
  opacity: 1;
  width: 32px;
  height: 32px;
}

.footer-container {
  display: flex;
  flex-flow: row wrap;
  // > * {
  //   flex: 1 100%;
  // }
}
.commands {
  flex: 10 auto;
  order: 0;
}
// .avatar-1 {
//   flex: 1 auto;
//   order: 1;
// }
// .avatar-2 {
//   flex: 1 auto;
//   order: 2;
// }
