@import '../../../styles/mixin';

.avatar-box {
  padding-left: 2em;
}

.item {
  margin-left: 16px;
}

.item,
a {
  vertical-align: middle;
}

.avatar {
  border: 0;
  border-radius: 50%;
  opacity: 1;
  width: 32px;
  height: 32px;
}

.footer-container {
  display: flex;
  flex-flow: row wrap;
}
.commands {
  flex: 10 auto;
  order: 0;
}
