<div class="editarea">
  <mat-card>
    <mat-card-content>
      <form [formGroup]="form">
        <div class="editfields">
          <div [hidden]="addMode">
            <label>id: </label>
            <input formControlName="id" #id readonly/>
          </div>
          <div>
            <label>name: </label>
            <input formControlName="name" placeholder="name" #name />
          </div>
          <div>
            <label>saying: </label>
            <input formControlName="saying" placeholder="saying" (keyup.enter)="saveVillain(form)" />
          </div>
        </div>
        <button mat-raised-button color="accent" type="button" (click)="clear()">Cancel</button>
        <button mat-raised-button color="primary" type="button" (click)="saveVillain(form)">Save</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
