@import '../../../styles/mixin';

.villains {
  @include item-list;
}

.mat-card {
  @include mat-card-layout;
}

.truncate {
  width: 1.5em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
