.editarea {
  input {
    margin: 4px;
    height: 20px;
    color: rgb(0, 120, 215);
  }
  button {
    margin: 8px;
  }
  .editfields {
    margin-left: 12px;
  }
}

.mat-card {
  padding: 0px;
}
.mat-card-header {
  background-color: #85b7de;
  padding: 18px 12px 6px 24px;
  color: #ffffff;
}
.mat-card-content {
  padding: 24px;
}
