/* You can add global styles to this file, and also import other style files */

* {
  font-family: Arial;
}
h2 {
  color: #444;
  font-weight: lighter;
}
body {
  margin: 2em;
}

body,
input[text],
button {
  color: #888;
  font-family: Arial;
}
button {
  color: #888;
  font-family: Arial;
  font-size: 14px;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  width: 100px;
  &:hover {
    background-color: #cfd8dc;
  }
}
div {
  margin: 0.1em;
}

label {
  display: inline-block;
  width: 4em;
  margin: 0.5em 0;
  color: #888;
  &.value {
    margin-left: 10px;
    font-size: 14px;
  }
}

input {
  height: 2em;
  font-size: 1em;
  padding-left: 0.4em;
  &::placeholder {
    color: lightgray;
    font-weight: normal;
    font-size: 12px;
    letter-spacing: 3px;
  }
}

.header-bar {
  background-color: rgb(0, 120, 215);
  height: 4px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.toast-container {
  position: absolute;
  right: 30px;
  top: 0;
  left: 30px;
  overflow: scroll;
  background: rgba(0, 0, 0, 0.4);
  background-color: rgb(255,64,129);
  z-index: 9999;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
}

.toast-container > * {
  text-align: center;
}

.toast-card {
  width: 100%;
  z-index: 1;
  padding: 2px;
  position: relative;
  background-color: rgb(255,64,129);
  text-align: center;
  color: white;
  text-transform: uppercase;
  margin: 16px;
  font-size: 16px;
}

.toast-message {
  margin: 0em 2em 0em 0em;
}

.logged-in-as {
  display: inline-block;
  font-size: 12px;
}
